@font-face {
  font-family: 'favorite';
  src: url('../../../assets/icons/favorite.woff2') format('woff2');
}
@font-face {
  font-family: 'circle';
  src: url('../../../assets/icons/circle.woff2') format('woff2');
}
