c-box[w] {
  width: var(--w);
}

c-box[min-w] {
  min-width: var(--min-w);
}

c-box[max-w] {
  max-width: var(--max-w);
}

c-box[h] {
  height: var(--h);
}

c-box[min-h] {
  min-height: var(--min-h);
}

c-box[max-h] {
  max-height: var(--max-h);
}
