c-box[transition] {
  transition-property: var(--transition-attr-0);
  transition-duration: var(--transition-attr-1);
  transition-timing-function: var(--transition-attr-2);
  transition-delay: var(--transition-attr-3);
}
