c-box[icon-prefix] {
  &::before {
    font-family: var(--icon-prefix);
    content: '\e800';
    font-size: var(--icon-prefix-size);
    color: var(--icon-prefix-color);
  }

  &[icon-prefix~='none']::before {
    content: none;
  }
}

c-box[icon-suffix] {
  &::after {
    font-family: var(--icon-suffix);
    content: '\e800';
    font-size: var(--icon-suffix-size);
    color: var(--icon-suffix-color);
  }

  &[icon-suffix~='none']::after {
    content: none;
  }
}

// active
c-box[icon-prefix-active]:active {
  &::before {
    font-family: var(--icon-prefix-active);
    content: '\e800';
    font-size: var(--icon-prefix-active-size);
    color: var(--icon-prefix-active-color);
  }

  &[icon-prefix-active~='none']::before {
    content: none;
  }
}

c-box[icon-suffix-active]:active {
  &::after {
    font-family: var(--icon-suffix-active);
    content: '\e800';
    font-size: var(--icon-suffix-active-size);
    color: var(--icon-suffix-active-color);
  }

  &[icon-suffix-active~='none']::after {
    content: none;
  }
}

// focus
c-box[icon-prefix-focus]:focus {
  &::before {
    font-family: var(--icon-prefix-focus);
    content: '\e800';
    font-size: var(--icon-prefix-focus-size);
    color: var(--icon-prefix-focus-color);
  }

  &[icon-prefix-focus~='none']::before {
    content: none;
  }
}

c-box[icon-suffix-focus]:focus {
  &::after {
    font-family: var(--icon-suffix-focus);
    content: '\e800';
    font-size: var(--icon-suffix-focus-size);
    color: var(--icon-suffix-focus-color);
  }

  &[icon-suffix-focus~='none']::after {
    content: none;
  }
}

// focus-within
c-box[icon-prefix-focus-within]:focus-within {
  &::before {
    font-family: var(--icon-prefix-focus-within);
    content: '\e800';
    font-size: var(--icon-prefix-focus-within-size);
    color: var(--icon-prefix-focus-within-color);
  }

  &[icon-prefix-focus-within~='none']::before {
    content: none;
  }
}

c-box[icon-suffix-focus-within]:focus-within {
  &::after {
    font-family: var(--icon-suffix-focus-within);
    content: '\e800';
    font-size: var(--icon-suffix-focus-within-size);
    color: var(--icon-suffix-focus-within-color);
  }

  &[icon-suffix-focus-within~='none']::after {
    content: none;
  }
}

// focus-visible
c-box[icon-prefix-focus-visible]:focus-visible {
  &::before {
    font-family: var(--icon-prefix-focus-visible);
    content: '\e800';
    font-size: var(--icon-prefix-focus-visible-size);
    color: var(--icon-prefix-focus-visible-color);
  }

  &[icon-prefix-focus-visible~='none']::before {
    content: none;
  }
}

c-box[icon-suffix-focus-visible]:focus-visible {
  &::after {
    font-family: var(--icon-suffix-focus-visible);
    content: '\e800';
    font-size: var(--icon-suffix-focus-visible-size);
    color: var(--icon-suffix-focus-visible-color);
  }

  &[icon-suffix-focus-visible~='none']::after {
    content: none;
  }
}

// hover
c-box[icon-prefix-hover]:hover {
  &::before {
    font-family: var(--icon-prefix-hover);
    content: '\e800';
    font-size: var(--icon-prefix-hover-size);
    color: var(--icon-prefix-hover-color);
  }

  &[icon-prefix-hover~='none']::before {
    content: none;
  }
}

c-box[icon-suffix-hover]:hover {
  &::after {
    font-family: var(--icon-suffix-hover);
    content: '\e800';
    font-size: var(--icon-suffix-hover-size);
    color: var(--icon-suffix-hover-color);
  }

  &[icon-suffix-hover~='none']::after {
    content: none;
  }
}

// target
c-box[icon-prefix-target]:target {
  &::before {
    font-family: var(--icon-prefix-target);
    content: '\e800';
    font-size: var(--icon-prefix-target-size);
    color: var(--icon-prefix-target-color);
  }

  &[icon-prefix-target~='none']::before {
    content: none;
  }
}

c-box[icon-suffix-target]:target {
  &::after {
    font-family: var(--icon-suffix-target);
    content: '\e800';
    font-size: var(--icon-suffix-target-size);
    color: var(--icon-suffix-target-color);
  }

  &[icon-suffix-target~='none']::after {
    content: none;
  }
}

// toggle waiting
c-box[icon-prefix-toggle] {
  &::before {
    font-family: var(--icon-prefix-toggle);
    content: '\e800';
    font-size: var(--icon-prefix-toggle-size);
    color: var(--icon-prefix-toggle-color);
  }

  &[icon-prefix-toggle~='none']::before {
    content: none;
  }
}

c-box[icon-suffix-toggle] {
  &::after {
    font-family: var(--icon-suffix-toggle);
    content: '\e800';
    font-size: var(--icon-suffix-toggle-size);
    color: var(--icon-suffix-toggle-color);
  }

  &[icon-suffix-toggle~='none']::after {
    content: none;
  }
}
