$transitions: (
  'none': 0ms,
  25: 25ms,
  50: 50ms,
  75: 75ms,
  100: 100ms,
  125: 125ms,
  150: 150ms,
  175: 175ms,
  200: 200ms,
  250: 250ms,
  275: 275ms,
  300: 300ms,
  325: 325ms,
  350: 350ms,
  375: 375ms,
  400: 400ms,
  425: 425ms,
  450: 450ms,
  475: 475ms,
  500: 500ms,
  525: 525ms,
  550: 550ms,
  575: 575ms,
  600: 600ms,
  625: 625ms,
  650: 650ms,
  675: 675ms,
  700: 700ms,
  725: 725ms,
  750: 750ms,
  775: 775ms,
  800: 800ms,
  825: 825ms,
  850: 850ms,
  875: 875ms,
  900: 900ms,
  925: 925ms,
  950: 950ms,
  975: 975ms,
  1000: 1000ms,
  1250: 1250ms,
  1500: 1500ms,
  1750: 1750ms,
  2000: 2000ms,
  2250: 2250ms,
  2500: 2500ms,
  2750: 2750ms,
  3000: 3000ms,
  3250: 3250ms,
  3500: 3500ms,
  3750: 3750ms,
  4000: 4000ms,
  4250: 4250ms,
  4500: 4500ms,
  4750: 4750ms,
  5000: 5000ms,
);

$properties: (
  'all': 'all',
  'bg': 'background-color',
  'color': 'color',
  'opacity': 'opacity',
  'transform': 'transform',
);

@each $time, $duration in $transitions {
  @each $prop, $property in $properties {
    c-div[transition-#{$prop}-#{$time}] {
      transition: #{$property} #{$duration} ease;
    }
  }
}
