c-div[break-inside-auto] {
  break-inside: auto;
}

c-div[break-inside-avoid] {
  break-inside: avoid;
}

c-div[break-inside-avoid-column] {
  break-inside: avoid-column;
}

c-div[break-inside-avoid-page] {
  break-inside: avoid-page;
}
