@for $i from 1 through 100 {
  c-div[w-#{$i}vh] {
    width: #{$i}vh;
  }

  c-div[h-#{$i}vh] {
    height: #{$i}vh;
  }

  c-div[min-w-#{$i}vh] {
    min-width: #{$i}vh;
  }

  c-div[min-h-#{$i}vh] {
    min-height: #{$i}vh;
  }

  c-div[max-w-#{$i}vh] {
    max-width: #{$i}vh;
  }

  c-div[max-h-#{$i}vh] {
    max-height: #{$i}vh;
  }
}

c-div[w-auto] {
  width: auto;
}

c-div[w-inherit] {
  width: inherit;
}

c-div[w-init] {
  width: initial;
}

c-div[w-fit] {
  width: -moz-fit-content;
  width: fit-content;
}
c-div[w-max] {
  width: max-content;
}

c-div[w-min] {
  width: min-content;
}

//
c-div[h-auto] {
  height: auto;
}

c-div[h-inherit] {
  height: inherit;
}

c-div[h-init] {
  height: initial;
}
c-div[h-fit] {
  height: fit-content;
}

c-div[h-max] {
  height: max-content;
}

c-div[h-min] {
  height: min-content;
}
