$border-styles: solid, none, dashed, dotted, groove, ridge, inset, outset, hidden;
c-div[round-full] {
  border-radius: 50%;
}
@each $border-style in $border-styles {
  c-div[border-#{$border-style}] {
    border-style: #{$border-style};
  }

  c-div[border-left-#{$border-style}] {
    border-left-style: #{$border-style};
  }

  c-div[border-top-#{$border-style}] {
    border-top-style: #{$border-style};
  }

  c-div[border-right-#{$border-style}] {
    border-right-style: #{$border-style};
  }

  c-div[border-bottom-#{$border-style}] {
    border-bottom-style: #{$border-style};
  }
}
