c-div[cursor-auto] {
  cursor: auto;
}

c-div[cursor-default] {
  cursor: default;
}

c-div[cursor-pointer] {
  cursor: pointer;
}

c-div[cursor-wait] {
  cursor: wait;
}

c-div[cursor-text] {
  cursor: text;
}

c-div[cursor-move] {
  cursor: move;
}

c-div[cursor-help] {
  cursor: help;
}

c-div[cursor-not-allowed] {
  cursor: not-allowed;
}

c-div[cursor-none] {
  cursor: none;
}
c-div[cursor-context-menu] {
  cursor: context-menu;
}

c-div[cursor-progress] {
  cursor: progress;
}
c-div[cursor-cell] {
  cursor: cell;
}
c-div[cursor-crosshair] {
  cursor: crosshair;
}
c-div[cursor-vertical-text] {
  cursor: vertical-text;
}
c-div[cursor-alias] {
  cursor: alias;
}
c-div[cursor-copy] {
  cursor: copy;
}
c-div[cursor-no-drop] {
  cursor: no-drop;
}
c-div[cursor-grab] {
  cursor: grab;
}
c-div[cursor-grabbing] {
  cursor: grabbing;
}
c-div[cursor-all-scroll] {
  cursor: all-scroll;
}
c-div[cursor-col-resize] {
  cursor: col-resize;
}
c-div[cursor-row-resize] {
  cursor: row-resize;
}
c-div[cursor-n-resize] {
  cursor: n-resize;
}
c-div[cursor-e-resize] {
  cursor: e-resize;
}
c-div[cursor-s-resize] {
  cursor: s-resize;
}
c-div[cursor-w-resize] {
  cursor: w-resize;
}
c-div[cursor-ne-resize] {
  cursor: ne-resize;
}
c-div[cursor-nw-resize] {
  cursor: nw-resize;
}
c-div[cursor-se-resize] {
  cursor: se-resize;
}
c-div[cursor-sw-resize] {
  cursor: sw-resize;
}
c-div[cursor-ew-resize] {
  cursor: ew-resize;
}
c-div[cursor-ns-resize] {
  cursor: ns-resize;
}
c-div[cursor-nesw-resize] {
  cursor: nesw-resize;
}
c-div[cursor-nwse-resize] {
  cursor: nwse-resize;
}
c-div[cursor-zoom-in] {
  cursor: zoom-in;
}
c-div[cursor-zoom-out] {
  cursor: zoom-out;
}
