c-div[overflow-auto] {
  overflow: auto;
}

c-div[overflow-x-auto] {
  overflow-x: auto;
}

c-div[overflow-y-auto] {
  overflow-y: auto;
}

c-div[overflow-hidden] {
  overflow: hidden;
}

c-div[overflow-x-hidden] {
  overflow-x: hidden;
}

c-div[overflow-y-hidden] {
  overflow-y: hidden;
}

c-div[overflow-clip] {
  overflow: clip;
}

c-div[overflow-x-clip] {
  overflow-x: clip;
}

c-div[overflow-y-clip] {
  overflow-y: clip;
}

c-div[overflow-visible] {
  overflow: visible;
}

c-div[overflow-x-visible] {
  overflow-x: visible;
}

c-div[overflow-y-visible] {
  overflow-y: visible;
}

c-div[overflow-scroll] {
  overflow: scroll;
}

c-div[overflow-x-scroll] {
  overflow-x: scroll;
}

c-div[overflow-y-scroll] {
  overflow-y: scroll;
}
