c-div[horizontal-tb] {
  writing-mode: horizontal-tb;
}

c-div[sideways-lr] {
  writing-mode: sideways-lr;
}

c-div[sideways-rl] {
  writing-mode: sideways-rl;
}

c-div[vertical-lr] {
  writing-mode: vertical-lr;
}

c-div[vertical-rl] {
  writing-mode: vertical-rl;
}
