c-div[break-after-auto] {
  break-after: auto;
}
c-div[break-after-always] {
  break-after: always;
}

c-div[break-after-avoid] {
  break-after: avoid;
}

c-div[break-after-avoid-column] {
  break-after: avoid-column;
}

c-div[break-after-avoid-page] {
  break-after: avoid-page;
}

c-div[break-after-column] {
  break-after: column;
}

c-div[break-after-left] {
  break-after: left;
}

c-div[break-after-page] {
  break-after: page;
}

c-div[break-after-right] {
  break-after: right;
}
