c-div[select-none] {
  -webkit-user-select: none;
  user-select: none;
}

c-div[select-text] {
  -webkit-user-select: text;
  user-select: text;
}

c-div[select-all] {
  -webkit-user-select: all;
  user-select: all;
}

c-div[select-auto] {
  -webkit-user-select: auto;
  user-select: auto;
}
