c-div[break-before-auto] {
  break-before: auto;
}
c-div[break-before-always] {
  break-before: always;
}

c-div[break-before-avoid] {
  break-before: avoid;
}

c-div[break-before-avoid-column] {
  break-before: avoid-column;
}

c-div[break-before-avoid-page] {
  break-before: avoid-page;
}

c-div[break-before-column] {
  break-before: column;
}

c-div[break-before-left] {
  break-before: left;
}

c-div[break-before-page] {
  break-before: page;
}

c-div[break-before-right] {
  break-before: right;
}
