c-box[slot='popover'] [tabindex='0']:focus {
  outline-style: solid;
  outline-width: var(--size-3);
  outline-color: var(--primary-100);
  border-radius: var(--base-size-12);
  transition: outline-width 0.125s ease;
}

c-box[slot='popover'] {
  outline: none;
}

c-box[slot='popover'] {
  &[popover-arrowpoint-position-type='bottom'] {
    &::before {
      content: '';
      display: block;
      translate: var(--popover-arrowpoint-position);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid var(--white);
    }
  }

  &[popover-arrowpoint-position-type='top'] {
    &::after {
      content: '';
      display: block;
      translate: var(--popover-arrowpoint-position);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid var(--white);
    }
  }

  &[popover-arrowpoint-position-type='right'] {
    &::before {
      content: '';
      translate: var(--popover-arrowpoint-position);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid var(--white);
    }
  }

  &[popover-arrowpoint-position-type='left'] {
    &::after {
      content: '';
      translate: var(--popover-arrowpoint-position);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid var(--white);
    }
  }
}
