c-box[uppercase],
c-box[ui~='uppercase'] {
  text-transform: uppercase;
}

c-box[lowercase],
c-box[ui~='lowercase'] {
  text-transform: lowercase;
}

c-box[capitalize],
c-box[ui~='capitalize'] {
  text-transform: capitalize;
}

c-box[normal-case],
c-box[ui~='normal-case'] {
  text-transform: none;
}
