$start: 0;

$start: 0;
$end: 800;

@for $i from $start through $end {
  @if $i == 0 or $i > 100 and $i % 2 == 0 or $i < 100 {
    c-box[ui~='round-#{$i}'],
    c-box[round-#{$i}] {
      border-radius: var(--size-#{$i});
    }

    c-box[ui~='left-#{$i}'],
    c-box[left-#{$i}] {
      left: var(--size-#{$i});
    }

    c-box[ui~='right-#{$i}'],
    c-box[right-#{$i}] {
      right: var(--size-#{$i});
    }

    c-box[ui~='top-#{$i}'],
    c-box[top-#{$i}] {
      top: var(--size-#{$i});
    }

    c-box[ui~='bottom-#{$i}'],
    c-box[bottom-#{$i}] {
      bottom: var(--size-#{$i});
    }

    c-box[ui~='tx-#{$i}'],
    c-box[tx-#{$i}] {
      font-size: var(--size-#{$i});
    }

    c-box[ui~='h-#{$i}'],
    c-box[h-#{$i}] {
      height: var(--size-#{$i});
    }

    c-box[ui~='w-#{$i}'],
    c-box[w-#{$i}] {
      width: var(--size-#{$i});
    }

    // margin

    c-box[ui~='m-#{$i}'],
    c-box[m-#{$i}] {
      margin: var(--size-#{$i});
    }

    c-box[ui~='mx-#{$i}'],
    c-box[mx-#{$i}] {
      margin-left: var(--size-#{$i});
      margin-right: var(--size-#{$i});
    }
    c-box[ui~='my-#{$i}'],
    c-box[my-#{$i}] {
      margin-top: var(--size-#{$i});
      margin-bottom: var(--size-#{$i});
    }

    c-box[ui~='mt-#{$i}'],
    c-box[mt-#{$i}] {
      margin-top: var(--size-#{$i});
    }
    c-box[ui~='mb-#{$i}'],
    c-box[mb-#{$i}] {
      margin-bottom: var(--size-#{$i});
    }

    c-box[ui~='ml-#{$i}'],
    c-box[ml-#{$i}] {
      margin-left: var(--size-#{$i});
    }

    c-box[ui~='mr-#{$i}'],
    c-box[mr-#{$i}] {
      margin-right: var(--size-#{$i});
    }

    // padding
    c-box[ui~='p-#{$i}'],
    c-box[p-#{$i}] {
      padding: var(--size-#{$i});
    }

    c-box[ui~='px-#{$i}'],
    c-box[px-#{$i}] {
      padding-left: var(--size-#{$i});
      padding-right: var(--size-#{$i});
    }
    c-box[ui~='py-#{$i}'],
    c-box[py-#{$i}] {
      padding-top: var(--size-#{$i});
      padding-bottom: var(--size-#{$i});
    }

    c-box[ui~='pt-#{$i}'],
    c-box[pt-#{$i}] {
      padding-top: var(--size-#{$i});
    }
    c-box[ui~='pb-#{$i}'],
    c-box[pb-#{$i}] {
      padding-bottom: var(--size-#{$i});
    }

    c-box[ui~='pl-#{$i}'],
    c-box[pl-#{$i}] {
      padding-left: var(--size-#{$i});
    }

    c-box[ui~='pr-#{$i}'],
    c-box[pr-#{$i}] {
      padding-right: var(--size-#{$i});
    }

    // border
    c-box[ui~='border-#{$i}'],
    c-box[border-#{$i}] {
      border-width: var(--size-#{$i});
    }

    c-box[ui~='border-left-#{$i}'],
    c-box[border-left-#{$i}] {
      border-left-width: var(--size-#{$i});
    }

    c-box[ui~='border-top-#{$i}'],
    c-box[border-top-#{$i}] {
      border-top-width: var(--size-#{$i});
    }

    c-box[ui~='border-right-#{$i}'],
    c-box[border-right-#{$i}] {
      border-right-width: var(--size-#{$i});
    }

    c-box[ui~='border-bottom-#{$i}'],
    c-box[border-bottom-#{$i}] {
      border-bottom-width: var(--size-#{$i});
    }

    c-box[ui~='col-gap-#{$i}'],
    c-box[col-gap-#{$i}] {
      column-gap: var(--size-#{$i});
    }

    c-box[ui~='row-gap-#{$i}'],
    c-box[row-gap-#{$i}] {
      row-gap: var(--size-#{$i});
    }
  }
}
