$start: 0;
$end: 800;

@for $i from $start through $end {
  @if $i == 0 or $i >= 100 and $i % 2 == 0 or $i <= 100 {
    c-box[ui~='h-#{$i}'],
    c-box[h-#{$i}] {
      height: var(--size-#{$i});
    }

    c-box[ui~='min-h-#{$i}'],
    c-box[min-h-#{$i}] {
      min-height: var(--size-#{$i});
    }

    c-box[ui~='max-h-#{$i}'],
    c-box[max-h-#{$i}] {
      max-height: var(--size-#{$i});
    }

    c-box[ui~='w-#{$i}'],
    c-box[w-#{$i}] {
      width: var(--size-#{$i});
    }

    c-box[ui~='min-w-#{$i}'],
    c-box[min-w-#{$i}] {
      min-width: var(--size-#{$i});
    }

    c-box[ui~='max-w-#{$i}'],
    c-box[max-w-#{$i}] {
      max-width: var(--size-#{$i});
    }
  }
}
