c-box[cursor-auto],
c-box[ui~='cursor-auto'] {
  cursor: auto;
}

c-box[cursor-default],
c-box[ui~='cursor-default'] {
  cursor: default;
}

c-box[cursor-pointer],
c-box[ui~='cursor-pointer'] {
  cursor: pointer;
}

c-box[cursor-wait],
c-box[ui~='cursor-wait'] {
  cursor: wait;
}

c-box[cursor-text],
c-box[ui~='cursor-text'] {
  cursor: text;
}

c-box[cursor-move],
c-box[ui~='cursor-move'] {
  cursor: move;
}

c-box[cursor-not-allowed],
c-box[ui~='cursor-not-allowed'] {
  cursor: not-allowed;
}
