c-box[shadow-none] {
  box-shadow: none;
}

c-box[shadow-0] {
  box-shadow: 0 0 var(--size-18) 0 var(--shadow-25);
}

c-box[shadow-1] {
  box-shadow: 0 0 var(--size-20) 0 var(--shadow-50);
}

c-box[shadow-2] {
  box-shadow: 0 0 var(--size-24) 0 var(--shadow-100);
}

c-box[shadow-3] {
  box-shadow: 0 0 var(--size-28) 0 var(--shadow-200);
}

c-box[shadow-4] {
  box-shadow: 0 0 var(--size-32) 0 var(--shadow-300);
}

c-box[shadow-5] {
  box-shadow: 0 0 var(--size-36) 0 var(--shadow-400);
}

c-box[shadow-6] {
  box-shadow: 0 0 var(--size-40) 0 var(--shadow-500);
}

c-box[shadow-7] {
  box-shadow: 0 0 var(--size-44) 0 var(--shadow-600);
}

c-box[shadow-8] {
  box-shadow: 0 0 var(--size-48) 0 var(--shadow-700);
}

c-box[shadow-9] {
  box-shadow: 0 0 var(--size-52) 0 var(--shadow-800);
}

c-box[shadow-10] {
  box-shadow: 0 0 var(--size-56) 0 var(--shadow-900);
}
