c-box[slot='popover'] [tabindex='0']:focus {
  outline-style: solid;
  outline-width: var(--size-3);
  outline-color: var(--primary-100);
  border-radius: var(--base-size-12);
  transition: outline-width 0.125s ease;
}

$popover-position: bottom, top, left, right;
$in-out: in, out;

@each $position in $popover-position {
  @each $io in $in-out {
    @keyframes popover-#{$position}-#{$io} {
      0% {
        transform: translate#{if(
            $position == bottom,
            Y,
            if($position == top, Y, if($position == left, X, X))
          )
          }(
            #{if(
                $position == bottom,
                -40px,
                if($position == top, 40px, if($position == left, 40px, -40px))
              )}
          );
      }
      100% {
        transform: translate#{if(
            $position == bottom,
            Y,
            if($position == top, Y, if($position == left, X, X))
          )
          }(0);
      }
    }
  }
}

@each $position in $popover-position {
  @keyframes popover-#{$position}-out {
    0% {
      opacity: 1;
      transform: translate#{if(
          $position == bottom,
          Y,
          if($position == top, Y, if($position == left, X, X))
        )
        }(0);
    }
    100% {
      opacity: 0;
      transform: translate#{if(
          $position == bottom,
          Y,
          if($position == top, Y, if($position == left, X, X))
        )
        }(
          #{if(
              $position == bottom,
              28px,
              if($position == top, -28px, if($position == left, -28px, 28px))
            )}
        );
    }
  }
}

c-box[slot='popover'] {
  outline: none;
  transition: opacity 0.5s ease;
  animation: popover-in 0.3s ease forwards;
}

c-box[slot='popover'] {
  &[popover-arrowpoint-position-type='bottom'] {
    &::before {
      content: '';
      display: block;
      translate: var(--popover-arrowpoint-position);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid var(--white);
    }
  }

  &[popover-arrowpoint-position-type='top'] {
    &::after {
      content: '';
      display: block;
      translate: var(--popover-arrowpoint-position);
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid var(--white);
    }
  }

  &[popover-arrowpoint-position-type='right'] {
    &::before {
      content: '';
      translate: var(--popover-arrowpoint-position);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid var(--white);
    }
  }

  &[popover-arrowpoint-position-type='left'] {
    &::after {
      content: '';
      translate: var(--popover-arrowpoint-position);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid var(--white);
    }
  }
}
