$displays: block, inline, inline-block, flex, inline-flex, grid, inline, grid, hidden;

c-box[display] {
  display: var(--display);
}

c-box[flex-center],
c-box[ui~='flex-center'] {
  display: flex;
  justify-content: center;
  align-items: center;
}

@each $display in $displays {
  c-box[ui~='#{$display}'],
  c-box[#{$display}] {
    display: #{$display};
  }
}

c-box[ui~='justify-start'],
c-box[justify-start] {
  justify-content: flex-start;
}

c-box[ui~='justify-center'],
c-box[justify-center] {
  justify-content: center;
}
c-box[ui~='justify-end'],
c-box[justify-end] {
  justify-content: flex-end;
}
c-box[ui~='justify-between'],
c-box[justify-between] {
  justify-content: space-between;
}
c-box[ui~='justify-around'],
c-box[justify-around] {
  justify-content: space-around;
}
c-box[ui~='justify-evenly'],
c-box[justify-evenly] {
  justify-content: space-evenly;
}

// align itemes
c-box[ui~='items-evenly'],
c-box[items-start] {
  align-items: flex-start;
}
c-box[ui~='items-end'],
c-box[items-end] {
  align-items: flex-end;
}
c-box[ui~='items-center'],
c-box[items-center] {
  align-items: center;
}
c-box[ui~='items-baseline'],
c-box[items-baseline] {
  align-items: baseline;
}
c-box[ui~='items-stretch'],
c-box[items-stretch] {
  align-items: stretch;
}
