@font-face {
  font-family: 'Sarabun-Bold';
  src: url('../../assets/fonts/Sarabun-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sarabun-ExtraBold';
  src: url('../../assets/fonts/Sarabun-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sarabun-ExtraLight';
  src: url('../../assets/fonts/Sarabun-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Sarabun-Light';
  src: url('../../assets/fonts/Sarabun-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Sarabun-Medium';
  src: url('../../assets/fonts/Sarabun-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Sarabun-Regular';
  src: url('../../assets/fonts/Sarabun-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Sarabun-SemiBold';
  src: url('../../assets/fonts/Sarabun-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Sarabun-Thin';
  src: url('../../assets/fonts/Sarabun-Thin.woff2') format('woff2');
}

/* init font family */
